@model IEnumerable<DispensarioMedicoUnapec.Ubicacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p style="float:right">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<form method="get" style="margin-bottom:15px">
    <input style="float:left" class="form-control" type="text" id="Criterio" name="Criterio" />
    <input class="btn btn-outline-primary" type="submit" id="cdmBuscar" value="Buscar"/>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tramo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tramo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUbicacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUbicacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUbicacion })
        </td>
    </tr>
}

</table>
