<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dispensario Médico Unapec</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="site_medical_logo"></div>
                @Html.ActionLink("Dispensario Médico", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div  class="collapse navbar-collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Médicos", "Index", "Medicos")</li>
                    <li>@Html.ActionLink("Pacientes", "Index", "Pacientes")</li>
                    <li>@Html.ActionLink("Medicamentos", "Index", "Medicamentos")</li>
                    <li>@Html.ActionLink("Registro visita", "Index", "Registro_Visitas")</li>
                    <li>@Html.ActionLink("Fármacos", "Index", "Farmacos")</li>
                    <li>@Html.ActionLink("Marcas", "Index", "Marcas")</li>
                    <li>@Html.ActionLink("Ubicación", "Index", "Ubicacions")</li>
                  
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dispensario Médico Apec</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>